<% layout('layout') -%>

<h1>Home</h1>
<p class="listItem">Number of registered users: <%-registeredUsers.length%></p>
<p class="listItem">Number of shopping lists with at least one item: <%-numShoppingList%></p>
<p class="listItem">Total number of items in all shopping lists combined: <%-totalItemsInAllShoppingList%></p>
<script>
    $('a[id="home"]').addClass("active");
</script>