<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/shopping-cart.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/dataAdmin.js"></script>
</head>
<body>
<%- body %>
</body>
</html>

